<header class="site-header">
  <div class="nav-shell">
    <a href="/" class="brand">BookAtlas</a>

    <nav class="main-nav">
      <a href="/books" class="nav-link">Books</a>
      <a href="/books/new" class="nav-link">Add Book</a>
      <a href="/authors" class="nav-link">Authors</a>
      <a href="/authors/new" class="nav-link">Add Author</a>
    </nav>
  </div>
</header>
