<h1 class="page-title">Update Author</h1>

<form
  action="/authors/<%= author.id %>?_method=PUT"
  method="POST"
  class="author-form"
>
  <%- include("_formFields.ejs") %>

  <div class="form-actions">
    <a href="/authors" class="btn-secondary">Cancel</a>
    <button type="submit" class="btn-primary">Update</button>
  </div>
</form>
